* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: 'Inter', sans-serif;
}

header{
    text-align: center;
}

.container {
    max-width: 1440px;
    width: 80%;
    margin: 5rem auto;
}

.formulario {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    padding: 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

legend{
    font-size: 1.5rem;
}

.data {
    width: 70%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    font-size: 1.5rem;
}

input {
    height: 98%;
    width: 60%;
    padding: .2rem;
}

select{
    height: 98%;
}

.btn {
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.btn:hover{
    cursor: pointer;
}

.footer {
    font-size: 2rem;
    height: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,116,255,1) 100%);
    position: absolute;
    bottom: 0;
}